---
key: 2
title: Gallerie Photo
permalink: /gallerie-photo/
background-image: stonedeaf-gif.gif
image: stonedeaf-gif.gif
options: fullwidth
---
<style>
    .breadcrumb,
    .wrapper.style5 {
        background-color: #171c21;
    }
</style>
<div class="box alt" style="background-color: #171c21;">
    <div class="row uniform 50%">

        {% for image in site.static_files %}
        {% if image.path contains 'images/gallery' %}
        <div class="4u"><span class="image fit"><a href="{{ site.baseurl }}{{ image.path }}"
                    title="Ceci est un lien image HTML">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                </a></span></div>
        {% endif %}
        {% endfor %}
    </div>
</div>